<div class="jumbotron" style="background-color:lightsteelblue">
  <font size="30" color="darkslateblue" face="Arial">
    <p>Sky-Metro of Novi Sad</p>
  </font>
  <div class="col-lg-6" style="font-family: 'Times New Roman'">
    <div class="list-group" id="list-tab" role="tablist" name="scheduleArray">
      <p class="list-group-item list-group-item-action" style="background-color:azure; color:indigo;" id="list-home-list" data-toggle="list" href="#list-home" role="tab"
         *ngFor="let schedule of schedules">Line:{{schedule.LineNumber}}, Departures:{{schedule.Departure}}</p>
    </div>
  </div>
  </div>
