<div class="container">
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
      <a class="navbar-brand">Angular Router</a>
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
      </ul>
    </div>
  </nav>
  <h3>Fakultet tehničkih nauka</h3>
  <div style="width:50%; margin: 0 auto">
    <app-map></app-map>
  </div>

  <p>
    Aplikacija koristi
    <a href="https://angular-maps.com/">Angular Google Maps (AGM) modul</a>.
    <br /> Instaliranje modula u okviru projekta se radi pomoću:
    <span style="color:#2a9fd6">npm install @agm/core --save</span> komande.
  </p>

</div>
