<div class="jumbotron" style="background-color:lightsteelblue">
  <font size="30" color="darkslateblue" face="Arial">
    <p>Ticket Prices</p>
  </font>
  <div class="row">
    <div class="form-group col-lg-3">
      <select name="tickets" [(ngModel)]="tickets" id="ticketSelect" class="form-control input-group-text" style="background-color:azure; color:indigo" (change)="priceSelection()">
        <option [ngValue]="1">Hourly Ticket</option>
        <option [ngValue]="2">Daily Ticket</option>
        <option [ngValue]="3">Monthly Ticket</option>
        <option [ngValue]="4">Yearly Ticket</option>
      </select>
    </div>
    <div class="form-group col-lg-3">
      <select [(ngModel)]="users" id="userSelect" class="form-control input-group-text" style="background-color:azure; color:indigo" (change)="priceSelection()">
        <option [ngValue]="1" >Normal Ticket</option>
        <option [ngValue]="2" >Student Ticket</option>
        <option [ngValue]="3" >Senior Ticket</option>
      </select>
    </div>
    <div class="form-group col-lg-3">
      <input id="buy" class=" input-group-text" (click)="buyTicket()" style="background-color:azure; color:indigo; border-color:indigo; border-bottom-width:medium" type="button" value="Buy Ticket" />
    </div>
    <div class=" form-group col-lg-3">
      {{ticketConfirmation}}
    </div>
  </div>
  <div class="form-group col-lg-3" style="color:darkblue; font-size: medium">
    <p>Ticket Price: {{currentPrice}} ({{currentType}})</p>
  </div>
</div>
