<div class="jumbotron" style="background-color:lightsteelblue">
  <font size="30" color="darkslateblue" face="Arial">
    <p>Ticket Prices</p>
  </font>
  <div class="row">
    <div class="form-group col-lg-3">
      <select class="form-control input-group-text" style="background-color:azure; color:indigo">
        <option value="Hourly">Hourly Ticket</option>
        <option value="Daily">Daily Ticket</option>
        <option value="Monthly">Monthly Ticket</option>
        <option value="Yearly">Yearly Ticket</option>
      </select>
    </div>
    <div class="form-group col-lg-3">
      <select class="form-control input-group-text" style="background-color:azure; color:indigo">
        <option value="Normal">Normal Ticket</option>
        <option value="Student">Student Ticket</option>
        <option value="Senior">Senior Ticket</option>
      </select>
    </div>
    <div class="form-group col-lg-3">
      <input class=" input-group-text" style="background-color:azure; color:indigo; border-color:indigo; border-bottom-width:medium" type="button" value="Buy Ticket" />
    </div>
  </div>
  <div class="form-group col-lg-3" style="color:darkblue">
    <p>TICKET PRICE LABEL TEMP</p>
  </div>
</div>
