<div class="jumbotron" style="background-color:lightsteelblue">
  <!-- Kreiramo mapu -->
  <agm-map [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [zoom]="18" (mapClick)="placeMarker($event)">

    <agm-polyline *ngFor="let busLine of polylines" [strokeColor]="busLine.color">
      <agm-polyline-point *ngFor="let point of busLine.path" [latitude]="point.latitude" [longitude]="point.longitude">
      </agm-polyline-point>
      <agm-marker *ngFor="let point of busLine.path" [latitude]="point.latitude" [longitude]="point.longitude" [iconUrl]="busLine.icon">
      </agm-marker>
    </agm-polyline>

  </agm-map>
</div>
